@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Yanone+Kaffeesatz:wght@300&display=swap');

h1{
    color: red;
    background-color: black;
}

h2{
    color: red;
}

.title{
    font-size: x-large;
    text-align: left;
    
}

.justify{
    float: left; margin: 20px;
    
}





